/*Used code below to fix a problem with having a white area to the right show up*/
html,body {
    overflow-x: hidden; 
}

.large-hero {
	border-bottom: 10px solid $mainOrange;
	position: relative;
	&__text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	text-align: center;
	}

	&__image {
		display: block;
	}

	&__title {
		/*color below is orange soda*/
		color: $mainOrange;
		font-weight: 300;
		font-size: 1.2rem;
		text-shadow: 2	px 2px rgba(0, 0, 0, .1);
		margin-bottom: -10px;

		@mixin atSmall {
			font-size: 4.8rem;
			margin-bottom: -40px;

		}

	}

	&__subtitle {
		/*color below is orange soda*/
		color: $mainOrange;
		font-weight: 300;
		font-size: 1.1rem;
		text-shadow: 2px 2px rgba(0, 0, 0, .1);
		margin-bottom: -20px;


		@mixin atSmall {
			font-size: 4rem;
			margin-bottom: 0;
		}
	}

	&__description {
		color: $mainOrange;
		font-size: 1.1rem;
		font-weight: 300;
		text-shadow: 2px 2px rgba(0, 0, 0, .1);
		max-width: 30rem;
		margin-right: auto;
		margin-left: auto;

		@mixin atSmall {
			font-size: 2rem;
		}
	}

}





