.page-section {
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--dimGrey {
		background-color: $mainDimGrey;
	}

	&--dodgerBlue {
		background-color: #093e73;
	}

	&--gradient {
		background: #8A2387;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}

	&--gainsboro {
		background: #DCDCDC;
	}

	&--black {
		background: #000000;
	}

	&__trigger--one {
	}

	&__trigger--second {
	}

	&__trigger--third {
	}
}