.page-section {
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--dimGrey {
		background-color: $mainDimGrey;
	}

	&--darkgrey {
		background-color: #282a2c;
	}

	&--gradient {
		background: $mainDimGrey;
		}

	&--gainsboro {
		background: #DCDCDC;
	}

	&--black {
		background: #000000;
	}

	&__trigger--one {
	}

	&__trigger--second {
	}

	&__trigger--third {
	}
}