.row__grid {
  /*margin: 8px -16px;*/
}

/* Add padding BETWEEN each column (if you want) */
.row__grid,
.row__grid > .row__column--grid {
 /* padding: 8px;*/
}

/* Create four equal columns that floats next to each other */
.row__column--grid {
  /*float: left;
  width: 30%;
  margin: 1.66%;*/
}

/* Clear floats after rows */ 
.row__grid:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.row__content--grid {
  margin: 1.66%;
  width: 30%;
  float: left;

  & h3 a:visited {
    color: inherit;
  }
}

