.site-footer {
	background-color: #DCDCDC;
	color: $mainOrange;
	padding: .5rem 0;
	text-align: center;

	&__text {
		display: block;
		margin-bottom: 1rem;
		font-weight: 300;
		font-size: .7rem;
	}
}

.site-footer__text a {
	color: white;
	text-decoration: none;
}

.site-footer__text a:hover {
	border-bottom: 2px solid $mainOrange;
}