.wrapper {
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	&--center {
		text-align: center;
	}

	&--narrow {
		max-width: 470px;
	}

	&--less {
		margin-top: 10rem;
	}

	&--column {
		float: left;
		width: 32.33%;
		padding: .08rem;

		&-rounded {
			border-radius: 50%;
		}
	}
}

.wrapper--row::after {
	content: "";
	clear: both;
	display: table;

}